.student_fyp2_main_div {
  font-family: 'Arial', sans-serif;
  max-width: 1000px;
  
  margin: 30px auto;
  
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(#39b7ff, #42006c);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .h4-fyp2 {
    color: #000000;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  margin-bottom: 20px;
  }
  
  .h1-fyp2 {
    color: #ffffff;
  border-bottom: 3px solid #ffffff;
  padding: 1px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  }
  
  .h2-fyp2 {
    margin-bottom: 15px;
  font-size: 20px;
  border-bottom: 2.3px solid #e0e0e0;
  padding-bottom: 10px;
  text-align: center;
  }
  
  .student_fyp2_upload_presentation,
  .student_fyp2_upload_document {
    background: #ffffff;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .input-fyp2 {
    display: block;
  width: 70%;
  
 margin: 5px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  }
  
  .button-fyp2 {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button-fyp2:hover {
    background-color: #0056b3;
  }