.student_supervisorlist_container {
  background: linear-gradient(#39b7ff, #42006c) repeat no-repeat;
  border-radius: 10px;
  padding: 8px;
  max-width: 900px;
  height: 95%;
  margin: 20px auto;
}

.supervisor-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  height: 90vh;
}

.supervisor-container h4 {
  font-size: 26px;
  color: white;
  text-align: center;
  font-weight: 700;
}

.supervisor-container h1 {
  font-size: 28px;
  color: black;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 7px;
  border-radius: 5px;
  background-color: #fff;
}

.supervisor-table {
  color: rgb(0, 0, 0);
  /* color: white; */
  width: 85%;
  border-collapse: collapse;
  margin-top: 0;
}

.supervisor-table th,
.supervisor-table td {
  padding: 7px;
  border: 1px solid #0c0c0c;
  font-size: 17px;
}
